@media screen and (max-width:1024px){
    .nav {
        width: 100%;
    }
    
    .nav-brand {
        background-color: transparent;
        text-align: left;
    }
    
    .nav-item {
        background-color: transparent;
        width: 100%;
        display: none;
        height: 40px;
        line-height: 30px;
        font-size: 25px;
        padding: 5px 0px;
        border-top: #FDFFFC solid 1px;
    }

    .nav-hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}