@media screen and (max-width:1024px){
    .nav-brand {
        width: 100%;
        padding: 0px 30px;
        border-bottom: 1px solid black;
        font-size: 25px;
        line-height: 50px;
    }
    .nav {
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }
    .nav-item {
        background-color: inherit;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        display: none;
    }
    .nav-item>a {
        width: 100%;
    }
    #content>.text{
        padding: 0px 20px;
        line-height: 1.5em;
    }
    #hamburger {
        width: 30px;
        height: 30px;
        margin: 10px 0px;
        display: flex;
    }
    #hamburger-close {
        display: none;
        font-size: 50px;
        margin: -5px 0px;
        cursor: pointer;
    }
}