@media screen and (max-width:1024px){
    .nav-brand {
        width: 100%;
        padding: 0px 5%;
        font-size: 25px;
        height: 7vh;
    }
    .nav {
        height: 7vh;
        line-height: 7vh;
        font-size: 20px;
        position: fixed;
    }
    .nav-item {
        background-color: inherit;
        width: 100%;
        height: 7vh;
        line-height: 40px;
        text-align: center;
        display: none;
    }
    .nav-item>a {
        width: 100%;
    }
    #content {
        padding-top: 7vh;
    }
    #content>.text{
        padding: 0px 20px;
        line-height: 1.5em;
    }
    #hamburger {
        width: 30px;
        height: 4vh;
        display: flex;
    }
    #hamburger-close {
        display: none;
        font-size: 50px;
        margin: -5px 0px;
        cursor: pointer;
    }
    #googleMap {
        width: 80%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .index-scope {
        height: 93vh;
    }
    #content>.text{
        width: 90%;
        margin: 10px auto;
    }
}